<h1>Recipes</h1>

<h2>You've been to this page: <%= @visitor_count %> times</h2>

<a href="/recipes?sort=title&sort_order=asc">Sort by Title Ascending</a>
<br />
<a href="/recipes?sort=title&sort_order=desc">Sort by Title Descending</a>

<br />
<br />

<a href="/recipes?sort=prep_time&sort_order=asc">Sort by Prep Time Ascending</a>
<br />
<a href="/recipes?sort=prep_time&sort_order=desc">Sort by Prep Time Descending</a>

<br />
<br />

<% @recipes.each_slice(3) do |three_recipes| %>
  <div class="row">
    <% three_recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="well">
          <a href="/recipes/<%= recipe.id %>">
            <h2><%= recipe.title %></h2>
            <h4>Prep Time: <%= recipe.prep_time %> minutes</h4>
            <br />
            <img class="index_recipe_image" src="<%= recipe.images.first.url %>">
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>