<h1>Recipe</h1>


Title: <%= @recipe.title %>
<br />
<br />
Directions: <%= @recipe.directions %>

<ol>
  <% @recipe.directions_split.each do |direction| %>
  <li><%= direction %></li>
  <% end %>
</ol>

<br />
<br />
Ingredients:
<ul>
  <% @recipe.ingredients_split.each do |ingredient| %>
    <li> <%= ingredient %> </li>
  <% end %>
</ul>

<br />
<br />

Created at: <%= @recipe.friendly_time %>

<br />
<br />
<%= link_to "Edit Recipe", "/recipes/#{@recipe.id}/edit" %>
<br />
<%= link_to "Delete Recipe", "/recipes/#{@recipe.id}", method: :delete %>
