

<% @recipe.images.each do |image| %>
  <img src="<%= image.url %>" class="index_recipe_image">
<% end %>

<h1>Recipe</h1>

Title: <%= @recipe.title %>
<br />
<br />

Owner: <%= @recipe.user.name %>
<br />
<br />
Chef: <%= @recipe.chef.name %>

<br />
<br />

Directions:
<ol>
  <% @recipe.directions_split.each do |direction| %>
  <li><%= direction %></li>
  <% end %>
</ol>

Ingredients:
<ul>
  <% @recipe.ingredients_split.each do |ingredient| %>
    <li> <%= ingredient %> </li>
  <% end %>
</ul>

Created at: <%= @recipe.friendly_time %>

<br />
<br />
<%= link_to "Add Image to Recipe", "/recipes/#{@recipe.id}/images/new" %>
<br />
<%= link_to "Edit Recipe", "/recipes/#{@recipe.id}/edit" %>
<br />
<%= link_to "Delete Recipe", "/recipes/#{@recipe.id}", method: :delete %>
